*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
}
.ent-tete{
    display: flex;
    justify-content: space-between;
}
.ent-tete h1{
    margin-bottom: 2%;
}
.ent-tete img{
    margin-left: 5%;
}

center{
    color: orange;
}

form input{
   justify-content: center;
}


.pagecommande{
    display: grid ;
    

}
.validation{
    margin-left: 4%;
    margin-top: 5%;
}
.validation fieldset{
    width: 90%;
    padding-left: 0%;
    border-radius: 10%;
    
}
.validation legend{
    color: brown;
}

.validation input{
    display: grid;
    justify-content: space-between;
    width: 50%;
    height: 3em;
    border-color: gray;
    
    
}
.infos{
    display: grid;
    grid-template-columns: 1fr ;
    margin-right: 5%;
    width: 50%;
    margin-left: 35%;
    margin-top: 5%;
    gap: 15%;
    margin-bottom: 3%;
}


.infos  button{
    height: 100%;
    width: 50%;
    font-size:66%;
}
.infos button:hover{
    transform: scale(1.2);
    background-color: green;
}
.infos legend{
    color: brown;
}

address button{
    padding-top: 15px;
    padding-bottom: 15px;
}
.envoyer input{
    background-color:orange;
    color: white;
    border-radius: 100px;
    margin-top: 8%;
    margin-left:3% ;
    margin-bottom: 5%;
    border: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    font-size: 60%;
    box-shadow: 1px 5px 5px grey;
}

.envoyer input:hover{
    transform:scale(1.2);
    background-color: green;

}
.infos  a{
    text-decoration: none;
    color: white;
}

.infos button{
    background-color: orange;
    border: 0;
    border-radius: 4px;
    width: 70%;
    height: 100%;
}

.infos fieldset{
    width: 70%;
}
.logo{
  margin-left: 50%;
  margin-top: 20%;
}
.logo img{
    width: 100px;
    height: 100px;
}

