h1{
    justify-content: center;
    font-family: cursed;
    color: orangered;
    text-align: center;
}

button{
    width: 47%;
    height: 500px;
    font-size: 2em;
    font-family: Impact;
    color: black;
}

#pizza{
    background-image: url(image\ pizza/pizza\ global.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#kebab{
    background-image: url(photos/Kebabs/Kebab\ Poulet.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: 'cursed';
    src: url(CursedClaw-Regular.ttf);

}
