figure img{height: 400px;
           width: 400px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
       }

figure {border:1px thick double black ;
        border-radius: 30px;
        box-shadow: 1px 5px 5px grey;
        display: inline-block;
        width: 400px;
        
    }
.box{display: flex;
     gap: 5%;
    justify-content: center;}


figcaption {text-align: center;}
   
table{width: 100%;}

pre{color: orangered;
}

figure button{width: 100px;
          height: 25px;
          background-color: orange;
          border-radius: 50% 20% / 10% 40%;
          box-shadow: 1px 5px 5px grey;
          border: none;
          font-weight: bold}

figure h1{font-family: impact;}

#titre{display: flex;
       justify-content: center;
       font-family: cursed;
       color: orangered;
       }

figure p{font-weight: lighter;
     color: gray;}

#description{justify-content: center;
             display: flex;
             font-weight: bold;}
@font-face {
    font-family: 'cursed';
    src: url(CursedClaw-Regular.ttf);
}
